<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My website </title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1> This is my website</h1>
      </div>
      <div id="content">


        <div id="main">
          <p> al;dfas;fsa;dlfasd;</p>
          <p>apdpasdfpasdpfaspdfasp</p>
          <p>apfasfasd;fsda;</p>
        </div>

        <div id="nav">
          <h3>Navigation list</h3>
          <ul>
            <li>Main</li>
            <li>About</li>
            <li>logout</li>
          </ul>

        </div>

      </div>

      <div id="footer">
        copyright &copy; 2019
      </div>
    </div>
  </body>
</html>
